#start {
    height: 100%;
    width: 100%;
  }
  #compounds{
    display: flex;
    flex-wrap: wrap;
  }

#wins{
    background-image: url('images/win.jpg');
    width: 480px;
    height: 268px;
    background-repeat: no-repeat;
}
#wintxt{
    margin-top: 20px; 
    color: #fff;
    font-weight: bold;
}
button{
    background-color:  rgba(5, 194, 5, 0.753);
    border-radius: 10px;
    
}
@media (max-width: 480px){
    .modal-background.srt{
        background-image: url('images/start-mb.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover; 
        -webkit-background-size: 100%;
        -moz-background-size: cover;
        -o-background-size: cover;
         min-height: 100%; 
        
    }
}
@media (min-width: 481px) and (max-width: 1024px) {
    .modal-background.srt{
        background-image: url('images/start.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover; 
        -webkit-background-size: 100%;
        -moz-background-size: cover;
        -o-background-size: cover;
         min-height: 100%;
        
    }   
}
@media (min-width: 1025px){
.modal-background.srt{
    background-image: url('images/start.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; 
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
     min-height: 100%;
    
}
}
#strt{
    text-align: center;
    position: absolute;
     bottom: 0px;
    cursor: pointer;
    width: 300px;
    height: 200px;
}
@media (max-width: 480px){
    html {
        background-image: url('images/bgm.jpg');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover; 
        -webkit-background-size: 100%;
        -moz-background-size: cover;
        -o-background-size: cover;
         min-height: 100%;
      }   
}
@media (min-width: 481px)  {

html {
    background-image: url('images/bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; 
    -webkit-background-size: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
     min-height: 100%;
  }}
#labs{
    width: 100%;
}
.dropzone{
    background-color: transparent;
    height: 250px;
    border: dashed 3px ;
    border-radius: 4px;
    margin: 30px;
    
    padding-top: 10px;
    
}
#lab{
    color:#fff;
}

.item {
    touch-action: none;
    user-select: none;
    border-radius: 10px;
    background-color: rgba(20, 20, 161, 0.616);
    margin-right: 10px;
    margin-top: 10px;
    width: 130px;
    height: 130px;
}

 .item.can-drop{
    background-color: rgba(5, 194, 5, 0.753);
}

p{
    font-family: "Century Gothic";
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

#medicine{
    margin-top: 30px;
    position: relative;
}
.single-medicine{
    position: absolute;
    top: 0px;
    width: 100px;
    padding: 10px;
    height: 160px;
}

#snackbar {
    visibility: hidden;
    min-width: 200px;
    margin-left: -125px;
    background-color: rgba(5, 194, 5, 0.753);
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 13px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 20px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
.tile{
    margin-top: 10px;
}

.card{
    
    margin: 20px;
}
#patient-tile{
    margin-top: 150px;
    margin-left: 5px;
    background-color: transparent;
    height: max-content;
}
#check{
    display: none;   
    position: relative;
}
@media (max-width: 480px){
.base-timer {
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    padding-top: 15px;
    margin-right: 5px;
    
  }
  
  #time{
      float: right;
 
  }
  #logo{
      background-image: url('images/bg-logo.jpg');
      background-repeat: no-repeat;
      position: relative;
    float: left;
    width: 35px;
    height: 50px;
  }
 
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 5px;
    stroke: #fff;
  }
  
  .base-timer__label {
    position: absolute;
    width: 40px;
    height: 100px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color:#fff;
  }
 
  #base-timer-text{
    margin-bottom:5px;
    font-size: 10px;
    color:#fff;
  }   
}
@media (min-width: 481px){
.base-timer {
    position: relative;
    width: 100px;
    height: 100px;
   
    
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 5px;
    stroke: #fff;
  }
  
  .base-timer__label {
    position: absolute;
    width: 100px;
    height: 150px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color:#fff;
  }
 
  #base-timer-text{
    margin-bottom:5px;
    font-size: 20px;
    color:#fff;
  } }
@media(max-width: 767px) { /* <== You can change this break point as per your  needs */
    .reverse-columns {
      flex-direction: column-reverse;
      display: flex;
    }
  }

#timer-tile{
 margin-right: 22px;
}
.show-medic{
    display: none;
} 
.drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
  }
  #components {
    border-color: #aaa;
  }
  @media (max-width: 480px) {
      #compounds{
          padding: 15px;
      }
  } 
  
